.cv {
    display: flex;
    flex-direction: column;
}

.cvsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1.5rem;
}

.cvsContainer .cvContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}


.cvsContainer h1 {
    margin-bottom: 4rem;
    font-size: min(max(2.3rem, 5vw), 8.5rem);
    padding-bottom: 0;
}

.cvsContainer p {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        color: var(--z-gray);
    margin-top: .5rem;
    margin-bottom: 1rem;
}



.cvContainer a {
    font-weight: bold;
    color: var(--z-primary);
    text-decoration: none;
    width: fit-content;

}

.cvContainer h2 {
    margin: 0;
}

