.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.spacer {
    pointer-events: none;
    opacity: 0;
    height: 0 !important;
}

.container .icon {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    z-index: 99;
    transition: all .25s ease-in-out;
    border: 1px solid transparent;
}


.container:hover .icon {
    border: 1px solid rgba(0, 0, 0, 0.16);
}


.container i {
    font-size: 30pt;
}