.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-size: min(max(2.3rem, 5vw), 6.5rem);
    padding-bottom: 0;
    text-align: center;
    margin: 0;
}

.container .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact label {
    margin-bottom: .5rem;
}
.contact input {
    border: none;
    background-color: #eeeeee;
    padding: 1.25rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.contact textarea {
    border: none;
    background-color: #eeeeee;
    padding: 1.25rem;
    font-family: 'Roboto', sans-serif;
    resize: none;
    height: 150px;
}
.contact form {
    width: 100%;
    max-width: 500px;
}

.contact form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.customButton {
    margin: 0;
    padding: .75rem
}

.contactContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.alert {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-size: min(max(1.3rem, 3vw), 3.5rem);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.contactInfo a {
    margin-right: 1rem;
    margin-left: 1rem;
}