
.right .proficiencyHeader h2:nth-of-type(2) {
    opacity: 0;
}
.right .technologySection {
    margin-top: .75rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.technologySection .title {
    font-size: 16pt;
    font-weight: bold;
    color: var(--z-primary);
    text-decoration: none;
    margin-top: .75rem;
    margin-bottom: 0.75rem;
}


.technologySection .technologyIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
}

